body, p {
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

#App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

#Transcript {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  width: 80%;
  max-width: 600px;
  height: calc(100vh - 200px - 40px - 20px - 60px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Clear {
  color: grey;
  font-size: 20px;
  margin-left: 5px;
  padding-top: 13px;
  cursor: pointer;
  border-bottom: 1px solid white;
}

#Clear:hover {
  color: white;
}

#Controls {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

#MicWrapper {
  position: relative;
}

#Mic {
  height: 80px;
  pointer-events: none;
  margin: 20px;
}

.Border {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}

.Border.Active {
  border-left-color: white;
  border-right-color: white;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#Language {
  margin-left: 15px;
  background: none;
  color: grey;
  font-size: 25px;
  border: none;
  border-bottom: 1px solid white;
  appearance: none;
  cursor: pointer;

  padding-right: 30px;
  background-position: right;
  background-size: 20px;
  background-repeat: no-repeat;
}

#Language:hover {
  color: white;
}

.LanguageOption {
  background: #282c34;
}
